*{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;/*alinha o texto mo centro*/
    font-size: 20px;/*tamanho da fonte do texto*/
    margin-top: 30px;/*espaçamento externo*/
}

.localizacao{
    width: 100%;/*largura*/
    display: flex;/*abri o flex para utilizar as propriedades dele*/
    flex-direction: column;/*deixando os elementos filhos em colunna*/
    align-items: center;/*deixando os elementos centralizados (verticalmente)*/
    justify-content: center;/*deixando os elementos centralizados (horizontalmente)*/
}

.localizacao iframe{
    border-radius: 15px;
    margin-top: 30px;
}

/* Galeria de fotos */
.galeria-container{
    display: flex;/*Alinhando lado a lado*/
    flex-wrap: wrap;/*Se os itens não couberem mais em uma linha, eles irão quebrar para a próxima linha, mantendo o layout flexível*/
    justify-content: space-evenly;/*para distribuir o espaço restante entre os itens quanto nas do container  */
    gap: 2vw;/*da espaçamento entre as linhas e colunas das imagens*/
    margin-top: 30px;
}

.galeria-items{
    width: 300px;/*largura*/
    height: 250px;/*altura*/
    border: 8px solid #fff;
    flex-grow: 1;/*O que isso faz é que todos os itens se expande igualmente para preencher o espaço disponivel no container flexivel. Se houver espaço extra, todos os itens irão crescer proporcionalmente, garantindo que espaço seja preenchido que o espaço seja preenchido de maneira uniforme  */
    transition: 1s;
}

.galeria-items img{
    width: 100%;/*largura*/
    height: 100%;/* altura */
    object-fit: cover;/*deve ser dimencionando e posicionado dentro de seu container, mantendo sua proporção orginal e cobrindo todo o espaço disponível, sem distorção*/
}

.galeria-items:hover{
    transform: scale(1.2);/*ao passar mouse a imagem se torna maior*/
    border-color: crimson;
    border-radius: 10px;
}

/* Contato */
.contato{
    margin-bottom: 30px;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.formulario div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.formulario input, .formulario textarea{
    color: red;
    width: 300px;
    border: 2px solid red;
    border-radius: 10px;
}

.formulario button{
    color: #fff;
    background-color: red;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}